on:
  push:
    branches: [testing]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push transaction-api
        run: |
          docker build -t your-dockerhub-username/transaction-api:testing ./transaction-api
          docker push your-dockerhub-username/transaction-api:testing

      - name: Build & Push fraud-frontend
        run: |
          docker build -t your-dockerhub-username/fraud-frontend:testing ./frontend
          docker push your-dockerhub-username/fraud-frontend:testing

      - name: Build & Push fraud-worker
        run: |
          docker build -t your-dockerhub-username/fraud-worker:testing ./fraud-worker
          docker push your-dockerhub-username/fraud-worker:testing

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: SSH & Deploy
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.TEST_SERVER_HOST }}
          username: ${{ secrets.TEST_SERVER_USER }}
          key: ${{ secrets.TEST_SERVER_SSH_KEY }}
          script: |
            cd /home/ubuntu/fraud-platform/fraud_detection_platform
            docker compose down
            docker compose pull
            docker compose up -d
